@import url('http://fonts.cdnfonts.com/css/monument-extended');



.banner {

    position: relative;

}


#banner {

    position: absolute;
    width: 100%;
    height: 829px;
    left: 0px;
    top: -52px;

   
}

.logo {
    
    position: absolute;
    width: 333px;
    height: 100px;
    left: 931px;
    top: 43px;

}

.banner h1 {
    position: absolute;
    width: 50rem;
    height: 27px;
    left: 45.5rem;
    top: 20rem;

    background-color: transparent;
    font-style: normal;
    font-weight: 300;
    font-size: 67px;
    line-height: 27px;
    /* identical to box height, or 40% */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.banner h2 {
    position: absolute;
    width: 50rem;
    height: 16px;
    left: 61rem;
    top: 24rem;
    
    color: aliceblue;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 16px;
    /* identical to box height, or 17% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    text-transform: uppercase;
}

#iicon {
    width: 216px;
    height: 64px;
    top: 35rem;
    left: 57rem;
    position: absolute;
 }


 #aicon {
    width: 216px;
    height: 64px;
    top: 35rem;
    left: 72rem;
    position: absolute;
 }

 .fade {
    position: absolute;
    width: 100%;
    height: 97px;
    left: 0px;
    top: 680px;

    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #D9D9D9 100%);
 }


.ques {
    position: absolute;
    width: 360px;
    height: 88px;
    left: 560px;
    top: 850px;

    background: linear-gradient(180deg, #FFFFFF 0%, #DBDDDB 100%);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 190px;
}

.ques h3 {
    position: absolute;
    width: 500px;
    height: 31px;
    left: 57px;
    top: 2px;
    
    
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 31px;
    /* identical to box height, or 111% */
    
    
    color: #2D3E3B;
    
}

#s50km {
    position: absolute;
    width: 277px;
    height: 352px;
    left: 980px;
    top: 844px;
    z-index: 1;
}

.desc {
    position: absolute;
    width: 951px;
    height: 124px;
    left: 281px;
    top: 991px;

    background: linear-gradient(180eg, #FFFFFF 0%, #DBDDDB 100%);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.7);
    border-radius: 50px;
}

.desc h2 {
    position: absolute;
width: 888px;
height: 62px;
left: 31px;
top: 20px;

font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
/* or 148% */

text-align: center;

color: #000000;

opacity: 0.7;
}


.cards {
    position: relative;

}

.card1 {
    position: absolute;
    left: 37rem;
    top:  80rem;
}

.card2 {
    position: absolute;
    left: 7rem;
    top:  81rem;
}

.card3 {
    position: absolute;
    left: 67rem;
    top:  81rem;
}



.motivation h1 {
    position: absolute;
width: 100rem;
height: 96px;

top: 110rem;

font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
/* identical to box height */

text-align: center;

color: #2D3E3B;
}

.motivation hr {
    position: absolute;
    top: 120rem;
    left: 40rem;
    width: 20rem;
    height: 0px;

    border: 2px solid #E25103;
}

.motivation p {
    
position: absolute;
width: 1271px;
height: 288px;
top: 120rem;
left: 5rem;

font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;
}

.diffrences {
    position: relative;
    width: 100%;
    height: 838px;
    top: 140rem;

    background: linear-gradient( #FCFCFC 0%, #FAFAFA 100%);
    
}

.sq1 {
    position: absolute;
    width: 457px;
    height: 487px;
    left: 202px;
    top: 239px;

    background: linear-gradient(44.78deg, rgba(201, 201, 201, 0.82) 1.86%, #FBFBFB 152.48%);
    border-radius: 29.7243px 0px 0px 29.7243px;
}

.sq1 p {
    position: absolute;
    width: 406.48px;
    height: 433.23px;
    left: 24px;
    top: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 18.5777px;
    line-height: 28px;

    color: #000000;
}

#sq1i{
    position: absolute;
    width: 112px;
    height: 141px;
    left: 374px;
    top: 125px;
    z-index: 3;
}

.rect1 {
    position: absolute;
    width: 324px;
    height: 570px;
    left: 659px;
    top: 187px;

    background: linear-gradient(180deg, #FFFFFF -15.48%, #CBCBCB 100%);
    mix-blend-mode: multiply;
    border-radius: 29.7243px;

}

#rect1i {
    position: absolute;
    width: 151px;
    height: 45px;
    left: 738px;
    top: 116px;
}

#tick,
#cross {
    position: absolute;
    top: 7rem;
    left: 9rem;

}

.rect2 {
    position: absolute;
    width: 324px;
    height: 570px;
    left: 983px;
    top: 187px;

    background: linear-gradient(180deg, #FFFFFF -15.48%, #CBCBCB 100%);
    mix-blend-mode: multiply;
    border-radius: 29.7243px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.rect2i {
    box-sizing: border-box;

    position: absolute;
    width: 181px;
    height: 45px;
    left: 1048px;
    top: 116px;

    background: linear-gradient(92.86deg, rgba(255, 255, 255, 0.5) -4.79%, rgba(142, 142, 142, 0.18) 113.72%);
    mix-blend-mode: normal;
    border: 3px solid rgba(167, 167, 167, 0.13);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 56px;
}

.rect2i p {
    position: absolute;
    width: 122px;
    height: 28px;
    left: 15px;
    top: -3px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.diffrences img {

    top: -3rem;
    left: 4rem;

}

.statistics {
    position: relative;
    width: 100%;
    height: 770px;
    top: 138rem;

    background: linear-gradient(180deg, #FCFCFC 0%, #D1D4D5 100%);
}

.statistics h1 {
    position: absolute;
    width: 426px;
    height: 27px;
    left: 543.5px;
    top: 82.97px;

    font-style: normal;
    font-weight: 700;
    font-size: 80.9748px;
    line-height: 27px;
    /* identical to box height, or 33% */

    text-align: center;
    text-transform: uppercase;
    color: #2D3E3B;
}
.statistics img {
    position: absolute;
    width: 50rem;
    height: 500px;
    left: 0;
    top: 217.93px;
    z-index: 3;
    /* primary gradient */
}

#dr1{
    position: absolute;
    width: 310.93px;
    height: 90.97px;
    left: 810px;
    top: 272px;
}

#dr2{
    position: absolute;
    width: 302.93px;
    height: 90.97px;
    left: 900px;
    top: 386px;
    
}

#dr3{
    position: absolute;
    width: 349.93px;
    height: 205.94px;
    left: 900px;
    top: 387px;
}

#dr4{
    position: absolute;
    width: 310.93px;
    height: 90.97px;
    left: 810.76px;
    top: 610.83px;
}

.drects h1 {
    width: 199px;
    height: 32px;
    left: 2rem;
    top: 0rem;

    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 32px;
    text-align: left;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.drects p {
    position: absolute;
    width: 222px;
    height: 17px;
    left: 2rem;
    top: 3rem;

    
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;

}

.drects h2 {
    position: absolute;
    width: 50px;
    height: 17px;
    left: 9rem;
    top: 0;


    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

#sp {
    position: absolute;
    width: 473px;
    height: 622px;
    left: 1025px;
    top: 75px;
}

.roadmap {
    position: relative;
    width: 100%;
    height: 45rem;
    top: 138rem;

    background: linear-gradient(360deg, #FCFCFC 0%, #D1D4D5 100%)

}

.roadmap h1 {
    
    position: absolute;
    width: 416px;
    height: 27px;
    top: 8rem;
    left: 30rem;

    font-style: normal;
    font-weight: 700;
    font-size: 81px;
    line-height: 27px;

    /* identical to box height, or 33% */

    text-align: center;
    text-transform: uppercase;

    color: #2D3E3B;
}

.rcards h1 {

    position: absolute;
    width: 250px;
    height: 31px;
    left: 0rem;
    top: 2rem;

    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    /* identical to box height, or 103% */


    /* primary gradient */

    background: linear-gradient(111.32deg, #E21E04 11.67%, #E26104 89.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


}

.rcard1,
.rcard2,
.rcard3 {
    
position: absolute;
width: 246px;
height: 324px;

background: linear-gradient(161.83deg, #DCDEDB -5.29%, #FCFCFC 103.03%);
box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
border-radius: 40px;

}

.rcard4,
.rcard5 {
    position: absolute;
    width: 241px;
    height: 317px;

    background: linear-gradient(161.83deg, #FCFCFC -5.29%, #DCDEDB 103.03%);
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    top: 45rem;
}

.rcard1,
.rcard2 {
    top: 20rem;
}

.rcard1 {
    left: 5rem;
}

.rcard2 {
    left: 25rem;
}

.rcard3 {

    top: 12rem;
    left: 65rem;

}

.rcard4 {
    left: 53rem;
}

.rcard5 {
    left: 72rem;
}



.rcards ul {
    position: absolute;
    width: 186px;
    height: 236px;
    top: 5rem;

    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #000000;
}


#road {

    position: absolute;
    width: 100%;
    height: 205px;
    top: 35rem;

}

#sp45 {
    
    position: absolute;
    width: 188px;
    height: 170px;
    top: 24rem;
    left: 47rem;
}

#sp50 {

    position: absolute;

    left: 0px;
    top: 50rem;

}

.ourteam {
    position: relative;
    width: 100%;
    top: 170rem;
    height: 10rem;
}

.ourteam h1 {
    position: absolute;
    width: 30rem;
    height: 27px;

    font-style: normal;
    left: 30rem;
    font-weight: 700;
    font-size: 81px;
    line-height: 27px;
    /* identical to box height, or 33% */

    text-align: center;
    text-transform: uppercase;

    color: #2D3E3B;
}

.ourteam h3 {
    width: 500px;
    height: 17px;

    font-style: normal;
    font-weight: 400;
    font-size: 17.2437px;
    line-height: 16px;
    /* identical to box height, or 94% */

    letter-spacing: 0.05em;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ourteam p {
    width: 28px;
    height: 17px;
    
   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 121% */
    
    
    color: #000000;
    
    opacity: 0.6;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.pos {
    position: absolute;
}

.ceo,
.cso,
.cto,
.ccm,
.cmo {
    position: absolute;
    top: 20rem;
    left: 10rem;
}

.cso {
    left: 28rem;
}

.cto {
    left: 43rem;
}

.cmo {
    left: 58rem;
}

.ccm {
    left: 73rem;
}


.joinin h1 {
    position: absolute;
    width: 70rem;
    height: 300rem;
    left: 300px;
    top: 5px;

    
    font-style: normal;
    font-weight: 700;
    font-size: 81px;
    line-height: 27px;
    /* identical to box height, or 33% */
    color: red;

   

}

.joinin {  
    position: relative;
    width: 1513px;
    height: 943px;
    top: 210rem;

    background: linear-gradient(180deg, #FCFCFC 0%, #D1D4D5 100%);
}

#twitter {
    position: absolute;
    left: 29.27%;
    top: 21.71%;
}

#dis {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 600.12px;
    top: 21.71%;
}

#ins {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 760.24px;
    top: 21.71%;
}

#tele {
    position: absolute;
    width: 64.04px;
    height: 64px;
    left: 910.63px;
    top: 21.71%;
}

.joinin h2 {

    position: absolute;
    width: 100rem;
    height: 27px;
    left: 214px;
    top: 331px;

    font-style: normal;
    font-weight: 700;
    font-size: 81px;
    line-height: 27px;
    /* identical to box height, or 33% */


    color: #2D3E3B;

}

input {
    position: absolute;
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 10px;

    width: 454px;
    height: 51px;
    top: 35rem;
    left: 20rem;

    background: rgb(239, 239, 239);
    border: 1px solid rgba(255, 255, 255, 0.79);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sbtn {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    gap: 10px;

    width: 194px;
    height: 51px;
    top: 35rem;
    left: 50rem;

    /* primary gradient */

   background-color: #E21E04;
    border-radius: 80px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.sbtn p {
    width: 107px;
    height: 27px;

    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height, or 193% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#sp1 {
    position: absolute;
    top: 20rem;
    left: 70%;
    
}

footer {
    position: relative;
    width: 100%;
    height: 266px;
    top: 210rem;

    background: #707573;
}

#logo1 {
    position: absolute;
    width: 227.76px;
    height: 68.52px;
    left: 50px;
    top: 70px;
}

footer hr {
    position: absolute;
    left: 3.23%;
    right: 8.23%;
    top: 65.23%;
    

    border: 1px solid #E4E8EC;
}

#iicon1 {
    width: 216px;
    height: 64px;
    top: 5rem;
    left: 57rem;
    position: absolute;
 }


 #aicon1 {
    width: 216px;
    height: 64px;
    top: 5rem;
    left: 72rem;
    position: absolute;
 }

 footer p {
    position: absolute;
    width: 302px;
    height: 24px;
    left: 3.23%;
    top: 190px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 0.257143px;

    color: #1B1B1B;

 }

 footer h5 {
    
    position: absolute;
    width: 135px;
    height: 24px;
    left: 509px;
    top: 180px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 0.257143px;

    color: #1B1B1B;
 }

 footer h6 {
    position: absolute;
    width: 508px;
    height: 24px;
    left: 853px;
    top: 180px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    text-align: right;
    letter-spacing: 0.257143px;

    color: #92989F;
 }

 @media only screen and (max-width: 600px) {
    #banner {
        top: 0rem;
        height: 245px;
    }
    .logo {
        width: 400px;
        height: 30px;
        left: 100px;
        top: 20px;
    }

    .banner h1 {
        position: absolute;
        width: 50rem;
        height: 27px;
        left: -7rem;
        top: 6rem;
        font-size: 20px;
    }

    .banner h2 {
        position: absolute;
        width: 50rem;
        height: 16px;
        left: 14rem;
        top: 7rem;
        font-size: 25px;        
    }

    #iicon {
        width: 60px;
        height: 20px;
        top: 12rem;
        left: 13rem;
        position: absolute;
     }

     #aicon {
        width: 60px;
        height: 20px;
        top: 12rem;
        left: 17rem;
        position: absolute;
     }

     .fade {
        position: absolute;
        width: 100%;
        height: 76px;
        left: 0px;
        top: 170px;
     }

     .ques {
        position: absolute;
        width: 360px;
        height: 88px;
        left: 3px;
        top: 280px;
    }

    .desc {
        position: absolute;
        width: 358px;
        height: 162px;
        left: 3px;
        top: 400px;
    }

    .desc h2 {
        position: absolute;
    width: 311px;
    height: 155px;
    left: 23px;
    top: 4px;


    font-size: 14px;

    }

    .card1 {
        position: absolute;
        left: 1.5rem;
        top:  38rem;
    }
    
    .card2 {
        position: absolute;
        left: 1.5rem;
        top:  68rem;
    }
    
    .card3 {
        position: absolute;
        left: 1.5rem;
        top:  98rem;
    }

    .motivation h1 {
        position: absolute;
        width: 500px;
        height: 34px;
        left: -65px;
        top: 123rem;
        
        font-style: normal;
        font-weight: 700;
        font-size: 39px;
    } 

    .motivation hr {
        position: absolute;
        top: 129rem;
        left: 8rem;
        width: 10rem;
        height: 0px;
    
        border: 2px solid #E25103;
    }

    .motivation p {
    
        position: absolute;
    width: 340px;
    height: 387px;
    left: 10px;
    top: 2100px;

    background: linear-gradient(180deg, #FFFFFF 0%, #DBDDDB 100%);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.7);
    border-radius: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
    /* or 221% */

    text-align: center;

    color: #000000;

    opacity: 0.7;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0
    }

    .diffrences {
        position: relative;
        width: 100%;
        height: 838px;
        top: 160rem;
    
        background: linear-gradient( #FCFCFC 0%, #FAFAFA 100%);
        
    }

    .sq1 {
        position: absolute;
        width: 172px;
        height: 666px;
        left: 5px;
        top: 95px;
        
        background: linear-gradient(44.78deg, #C9C9C9 1.86%, #FBFBFB 152.48%);
        mix-blend-mode: normal;
        border-radius: 29.7243px 0px 0px 29.7243px;
    }

    .sq1 p {
        position: absolute;
    width: 124px;
    height: 433px;
    left: 34px;
    top: 3px;

   
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #000000;
    }
    
    .rect1 {
        position: absolute;
    width: 78px;
    height: 666px;
    left: 190px;
    top: 75px;
    margin: 0%;
    border: 0%;

    background: linear-gradient(180deg, #FFFFFF -15.48%, #CBCBCB 100%);

    
    }

 #tick
{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.rect2 {
    position: absolute;
    width: 77px;
    height: 666px;
    left: 280px;
    top: 75px;

    background: linear-gradient(180deg, #FFFFFF -15.48%, #CBCBCB 100%);
    mix-blend-mode: multiply;
}

#cross {
    top: 17rem;
    left: 1.5rem;
}

#sq1i {
    position: absolute;
    width: 81px;
    height: 91px;
    left: 60px;
    top: 9px;
    z-index: 3;
}

#rect1i {
    position: absolute;
    width: 81px;
    height: 41px;
    left: 190px;
    top: 20px;
    z-index: 3;
}

.rect2i {
    position: absolute;
    width: 101px;
    height: 41px;
    left: 280px;
    top: 20px;
    z-index: 3;
}

.rect2i p {
    
    position: absolute;
    width: 91px;
    height: 16px;
    left: 3px;
    top: 0px;

    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 8px;
    /* or 133% */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.statistics {
    position: relative;
    width: 100%;
    height: 1140px;
    top: 138rem;

    background: linear-gradient(180deg, #FCFCFC 0%, #D1D4D5 100%);
}


.statistics h1 {
    position: absolute;
    width: 148px;
    height: 7px;
    left: 100px;
    top: 70px;

    font-weight: 700;
    font-size: 38px;
}

.statistics img {
    width: 200px;
    height: 150px;
    left: 0px;
    top: 230px;
}

#sp {
    position: absolute;
    width: 250px;
    height: 300px;
    left: 130px;
    top: 180px;
}

#dr1{  
    position: absolute;
    width: 303px;
    height: 80.4px;
    left: 33px;
    top: 470px;
}

#dr2{
    position: absolute;
    width: 303px;
    height: 80.4px;
    left: 33px;
    top: 600px;
    
}

#dr3{
    position: absolute;
    width: 303px;
    height: 55.73px;
    left: 33px;
    top: 700px;
}

#dr4{
    position: absolute;
    width: 303px;
    height: 80.4px;
    left: 33px;
    top: 900px;
}

.roadmap {
    position: relative;
    width: 100%;
    height: 65rem;
    top: 138rem;
}

#road {
    position: absolute;
    width: 706px;
    height: 103px;
    left: -160px;
    top: 543px;
    transform: rotate(-90deg);
}

.roadmap h1 { 
    position: absolute;
    width: 148px;
    height: 7px;
    left: 55px;
    top: 20px;

    font-weight: 700;
    font-size: 50px;
}

.rcards h1 {

    position: absolute;
    width: 200px;
    height: 310px;
    left: -20px;
    top: 10px;
    
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.rcard1 h1 {

    position: absolute;
    width: 200px;
    height: 310px;
    left: -35px;
    top: 10px;
    
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}



.rcard4,
.rcard5 {
    position: absolute;
    width: 241px;
    height: 317px;

    background: linear-gradient(161.83deg, #FCFCFC -5.29%, #DCDEDB 103.03%);
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    top: 45rem;
}

.rcard1 {
    position: absolute;
    width: 123.25px;
    height: 185px;
    left: 16px;
    top: 300px;
    z-index: 2;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.rcards ul {

    position: absolute;
    width: 110px;
    height: 144px;
    left: -10px;
    top:42px;

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;

    color: #000000;

}

.rcard2 {
    position: absolute;
    width: 163px;
    height: 183px;
    left: 190px;
    top: 350px;
    z-index: 2;
}

.rcard2 ul {

    position: absolute;
width: 135px;
height: 144px;
left: -12px;
top: 50px;

font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;

color: #000000;
}

.rcard3 {
    position: absolute;
    width: 144px;
    height: 217px;
    left: 16px;
    top: 600px;
}

.rcard4 {
    position: absolute;
    width: 165px;
    height: 183px;
    left: 190px;
    top: 760px;
    z-index: 2;

    background: linear-gradient(180deg, #F1F1F0 0%, #E2E3E1 100%);
    border-radius: 20px;
}

.rcard4 ul {
    position: absolute;
    width: 151px;
    height: 137px;
    left: -15px;
    top: 40px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    
    color: #000000;
}

.rcard4 h1 {
    
    font-size: 25px;
    left: -20px;
    top: .1rem;
}

.rcard5 {
    opacity: 0;
    left: 0;
    top: 0;
}

#sp50 {
    position: absolute;
    
    width: 15rem;
    left: 9rem;
    top: 40rem;
    z-index: 1;
}

#s50km {
    left: -6rem;
    top: 270rem;
}

#sp45 {
    
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 31rem;
    left: 1rem;
}

.ourteam {
    position: relative;
    width: 100%;
    top: 145rem;
    height: 10rem;
}

.ourteam h1 {
position: absolute;
top: -5rem;
left: -3rem;
font-size: 50px;
}

.ceo img,
.cso img,
.cto img,
.ccm img,
.cmo img {
    width: 139px;
    height: 169px;
}


.ceo {
    
    top: 10rem;
    left: 30px;
}

.cso {
    top: 10rem;
    left: 200px;
}

.cto {
    top: 32rem;
    left: 30px;
}

.cmo {
    top: 32rem;
    left: 200px;
}

.ccm {
    top: 52rem;
    left: 120px;
}

.joinin {  
    position: relative;
    width: 100%;
    height: 700px;
    top: 205rem;

    background: linear-gradient(180deg, #FCFCFC 0%, #D1D4D5 100%);
}

.joinin h1 {
    position: absolute;
    width: 20rem;
    height: 300rem;
    left: 40px;
    top: 5px;

    
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;
    /* identical to box height, or 33% */
    color: red;

}

#twitter {
    position: absolute;
    left: 5.27%;
    top: 15.71%;
}

#dis {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 100.12px;
    top: 15%;
}

#ins {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 190.24px;
    top: 15%;
}

#tele {
    position: absolute;
    width: 64.04px;
    height: 64px;
    left: 280.63px;
    top: 15%;
}

.joinin h2 {

    position: absolute;
    width: 100rem;
    height: 27px;
    left: 10px;
    top: 251px;

    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
}

input {
    top: 25rem;
    left: 1.5rem;
    width:20rem;

}

.sbtn {
    top: 35rem;
    left: 5.4rem;
}

footer {
    position: relative;
    width: 100%;
    height: 390px;
    top: 205rem;

    background: #707573;
}

#logo1 {
    width: 191px;
    height: 53px;
    left: 12px;
    top: 39px;
}

footer hr {
    position: absolute;
    opacity: 0;
    top: 65.23%;
}

#iicon1 {
    width: 169px;
    height: 51px;
    left: 190px;
    top: 258px;

}

#aicon1 {
    position: absolute;
    width: 169px;
    height: 51px;
    left: 13px;
    top: 258px;
}
  
footer p {
    position: absolute;
    width: 600px;
    height: 24px;
    left: 0.6rem;
    top: 150px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 16px;
    /* or 100% */

    display: flex;
    align-items: right;
    letter-spacing: 0.257143px;
    color: #1B1B1B;

 }
footer h5 {
    
    width: 118px;
    height: 16px;
    left: 13.5rem;
    top: 1rem;

    font-size: 17px;

 }

 footer h6 {

    width: 354px;
    height: 12px;
    left: .5rem;
    top: 21rem;

    font-size: 10px;

 }

 #sp1 {
    left: 0;
    top: 0;
    opacity: 0;
    width: 0;
 }



 }
